h3{
  text-align: center;
  color: #056EB4;
  padding-bottom: 0;
}

ion-card-subtitle{
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  padding-top: 10px;
}

ion-card-title{
  text-align: center;
}

ion-card-content{

  padding-top: 5px;
}



ion-button{
  padding: 10px;
  margin: 10px;

}
