<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Resgister Friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<!----- register new friends -->
<ion-card>
<ion-card-title>
  Register New Friends
</ion-card-title>
  <ion-card-content>
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input [(ngModel)]="model.name" name="userName"></ion-input>
  </ion-item>
  </ion-card-content>
</ion-card>

  <ion-button expand="block" size="large" color="primary"(click)="resgister()" >Register</ion-button>

<hr>

<ion-list>
  <ion-item *ngFor="let friend of friendsToDisplay">{{ friend.name }}</ion-item>
</ion-list>



<!----- register new friends -->








</ion-content>
